body{
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
    background-color: #472183;
    color: white;
}

.con{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding-top: 69px;
}

.page{
    background-color: white;
    width: 400px;
    height: 450px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in{
    width: 250px;
    margin: 10px;
    padding: 10px;
    font-size: larger;
}

.in:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#btn{
    margin-top: 50px;
    background-color: #472183;
    color: white;
    padding: 10px;
    font-size: larger;
    width: 260px;
    border-radius: 0.46rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}